* {
    padding: 0;
    margin: 0;
    border: 0;
    color: aliceblue;
    font-family: var(--font-roboto);
}

:root{
	--principal-cor: #333;
	--quarta-color-transparecia: rgba(31, 31, 31, 0.8);
	--quinta-color-transparecia: rgba(238, 238, 238, 0.3);

	--font-roboto:  'Roboto', sans-serif;
}

body{
    background-image: url(../images/montain.jpg);
}

#container{
    background-color: var(--quarta-color-transparecia);
    display: flex;
    height: 100vh;
    width: 100vw;
}

#content{
    background-color: var(--quinta-color-transparecia);
    display: flex;
    width: 50ch;
    margin: auto;
    padding: 4ch;
    text-align: center;
    border-radius: 1ch;
}
#area-postagem{
    margin: auto;
    border-radius: 1em;
    padding: 0.5em 1em;  
}

#area-postagem textarea{
    text-align: start;
    color: var(--principal-cor);
    padding: 0.2em 0.75em;
    width: 100%;
    height: 10em;
    border-radius: 0.25em;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}