* {
    padding: 0;
    margin: 0;
    border: 0;
    color: aliceblue;
    font-family: var(--font-roboto);
}

:root{
	--principal-cor: #333;
	--segunda-cor: #FFF;
	--terceira-color:#000;    
	--destaque-1-cor:rgb(255, 79, 79);
    --destaque-2-cor:rgb(85, 255, 141);
	--quarta-color-transparecia: rgba(31, 31, 31, 0.8);
	--quinta-color-transparecia: rgba(238, 238, 238, 0.3);
    --sexta-color-transparencia: rgba(39, 39, 39, 0.5);

	--font-roboto:  'Roboto', sans-serif;
}

.link a{
    text-decoration: none;
}

.link a:hover{
    border-bottom: 1px solid var(--destaque-1-cor);
}

#menu-area{
    position: fixed;
    z-index: 10;
    margin-top: 0;
    width: 100%;
    height: 4em;
    background-color: var(--principal-cor);
    display: flex;
}

#menu-area img{
    margin-left: 1.5em;
    margin-top: 0.2em;
    width: 7em;
    height: 3.5em;
}

#login-area{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin: auto; 
    margin-right: 2em;
    text-decoration: none;
}

#login-area button{
    background-color: var(--quinta-color-transparecia);
    outline: none;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 0.3em var(--quarta-color-transparecia);
    transition: all .15s ease-in-out;
}

#login-area button:hover{
    transform: scale(1.05);
	transition: all .1s ease-in-out;
}

#login-area button:active{
    transform: scale(0.9);
	transition: all .1s ease-in-out;
    box-shadow: 0em 0em 0.3em var(--destaque-2-cor);
}

#login-area button a{
    text-decoration: none;
    color: var(--destaque-2-cor);
}

#logout-area{
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    margin: auto; 
    margin-right: 2em;
    text-decoration: none;
}

#logout-area button{
    background-color: var(--quinta-color-transparecia);
    outline: none;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em 0.3em var(--quarta-color-transparecia);
    transition: all .15s ease-in-out;
}

#logout-area button:hover{
    transform: scale(1.05);
	transition: all .1s ease-in-out;
}

#logout-area button:active{
    transform: scale(0.9);
	transition: all .1s ease-in-out;
    box-shadow: 0em 0em 0.3em var(--destaque-1-cor);
}

#logout-area button a{
    text-decoration: none;
    color: var(--destaque-1-cor);
}

#content{
    display: flex;
    padding-bottom: 0;
    width: 100%;
    min-height: 1000px; 
    padding-top: 4em;
    background-image: url(../images/Bridge.jpg);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    display: flex;
    width: 100%;
    background-color: var(--quarta-color-transparecia);
    min-height: 900px;
}

#main-center{
    display: block;
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.carrousel-div{
    margin-bottom: 2em;
}

.carrousel-div h1{
    position: absolute;
    text-align: center;
    text-shadow: 5px 2px var(--main-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 6ch;
}

#area-desc{
    text-align: left;
    width: 80%;
    margin: auto;
    padding: 0.5em;
    background-color: var(--sexta-color-transparencia);
    margin-bottom: 2.5em;
    font-size: 2em;
}

#centro-area-postagem{
    display: flex;
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
}
#area-postagem{
    margin: auto;
    background-color: var(--quinta-color-transparecia);
    width: 60%;
    border-radius: 1em;
    padding: 0.5em 1em;  
}

#area-postagem textarea{
    text-align: start;
    color: var(--principal-cor);
    padding: 0.2em 0.75em;
    width: 100%;
    height: 10em;
    margin-bottom: 1em;
    border-radius: 0.25em;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

@media(max-width:768px){
    .post{
        width: 10%;
    }
}

.post{
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding-bottom: 3em;
    margin-bottom: 1.2em;
    border-bottom: 1px var(--quinta-color-transparecia) solid;
}

.post-header{
    display: flex;
    width: 100%;
    gap: 0.5em;
    margin-bottom: 0.8em;
}

.post-header h2{
    width: 97%;
}

.post-header h2{
    margin-bottom: 0.2em;
    text-align: left;
}

.post-header p{
    font-size: 1.4ch;
}

.post-img{
    max-width: 100%;
    margin-bottom: 1em;

}

.post-img img{
    width: 100%;
}

.post-txt{
    text-align: justify;
    word-break: break-all;
    width: 100%;
}

footer{
    background-color: var(--principal-cor);
    padding: 1em;
    height: 3em;
    margin-bottom: 0;
    display: flex;
}

h1{
    font-size: 3ch;
}


#footer_center{
    font-size: 1.5ch;
    margin: auto;
}
