* {
    padding: 0;
    margin: 0;
    border: 0;
    color: aliceblue;
    font-family: var(--font-text);
}

:root{
	--principal-cor: #333;
	--segunda-cor: #FFF;
	--terceira-color:#000;    
	--destaque-1-cor:rgb(255, 79, 79);
	--quarta-color-transparecia: rgba(31, 31, 31, 0.8);
    --quinta-color-transparecia: rgba(80, 80, 80, 0.3);

	--font-text:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
}
body{
    background-image: url(../images/montain.jpg);    
}

#container{
    background-color: var(--quarta-color-transparecia);
    display: flex;
    height: 100vh;
    width: 100vw;
}

#content{
    background-color: var(--quinta-color-transparecia);
    display: flex;
    width: 50ch;
    height: 50ch;
    margin: auto;
    padding: 4ch;
    text-align: center;
    border-radius: 1ch;
}

#login{
    margin: auto;
}

#login h1{
    color: whitesmoke;
    margin-bottom: 0.5ch;
    font-size: 10ch;
    text-transform: uppercase;
}

.campos{
    text-transform: initial;
    padding: 2ch;
    width: 50ch;
    height: 5ch;
    margin: 1ch;
    color: var(--segunda-cor); 
    background-color: var(--quarta-color-transparecia);
    border-radius: 1ch;
}

#botao_login{
    margin-top: 2ch;
    font-size: 2ch;
    padding: 1ch;
    width: 15ch;
    height: 5ch;
    text-transform: uppercase;
    background-color: var(--quarta-color-transparecia);
    color: var(--segunda-cor);
    border-radius: 1ch;
}
#login button{
    background-color: transparent;
}

#login button:hover{
    transform: scale(1.05);
	transition: all .1s ease-in-out;
}

#login button:active{
    transform: scale(0.9);
	transition: all .1s ease-in-out;
    box-shadow: 0em 0em 0.3em var(--destaque-2-cor);
}

#erro-login{
    text-transform: uppercase;
    font-size: 1em;
}

#erro-login span{
    color: var(--destaque-1-cor);
}